---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Fondos from "../../components/fondos.astro";
import RoomFeatures from "../../components/Habitaciones/RoomFeatures.astro";

const fondoImagen = "https://res.cloudinary.com/dlgeap8h0/image/upload/ban2_vsrj8w.webp";

const lang = "en"
const ogImage = "https://res.cloudinary.com/dlgeap8h0/image/upload/Suite_1_tlzfen.webp"
const title = "Rooms";
const description = "Classic, Premium and Suite rooms in Cusco. With heating, Smart TV and WiFi. Complimentary airport transfers included!";
---

<BaseLayout lang={lang}  title={title} description={description} ogImage={ogImage}>
    <Fondos imgFondo={`url(${fondoImagen})`} />
    <main class="home">
        <RoomFeatures />
    </main>
</BaseLayout>
