---
import BaseLayout from "../../layouts/BaseLayout.astro"
import Fondos from "../../components/fondos.astro"

import RestauranteInicio from "../../components/Restaurantes/RestaurantInicio.astro"
import GastronomicExperience from "../../components/Restaurantes/GastronomicExperience.astro"
import fondoImagen from "../../assets/backgrounds/interra-intro.webp"

const lang = "en"
const ogImage = "https://res.cloudinary.com/dlgeap8h0/image/upload/Rest_4_yqwmg7.webp"
const title = "Restaurant";
const description = "Enjoy a unique gastronomic experience in the heart of Cusco. Savor the best of Peruvian and international cuisine in an unforgettable colonial setting.";
---

<BaseLayout lang={lang} title={title} description={description} ogImage={ogImage}>

    <Fondos imgFondo={`url(${fondoImagen.src})`} />
    <main>

        <RestauranteInicio />
        <GastronomicExperience />
    </main>

</BaseLayout>

