---
import "../styles/global.css";
import Links from "../utils/links.astro";
import Nav from "../components/Nav.astro";
import HeaderTop from "../components/HeaderTop.astro";
import Footer from "../components/Footer.astro";
import ContactoWhatasap from "../components/whatsaap.astro"

const { title, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title} - Terra Andina Colonial Mansion</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Hotel",
        "name": "Terra Andina Colonial Mansion",
        "description": "Hotel boutique colonial en el centro de Cusco",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Calle Unión 184",
          "addressLocality": "Cusco",
          "addressRegion": "Cusco",
          "addressCountry": "PE"
        },
        "telephone": "+51987945817",
        "url": "https://terraandinahotel.com"
      }
    </script>

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={`${title} - Terra Andina`} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://fti-weeb.netlify.app/_astro/baner-terra.Ckeutzn3.webp"
    />
    <meta
      property="og:image:alt"
      content="Fachada colonial del Hotel Terra Andina en Cusco"
    />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta
      property="twitter:image"
      content="https://fti-weeb.netlify.app/_astro/baner-terra.Ckeutzn3.webp"
    />
    <link rel="sitemap" href="/sitemap.xml" />
    <link rel="icon" href="/images/logo/Logo-TAH.png">

    <Links />
  </head>
  <body>
    <HeaderTop />
    <Nav />
    <slot />
    <ContactoWhatasap />
    <Footer />
  </body>
</html>

<style is:global>
  a {
    text-decoration: none !important;
  }
  img {
    border: 0;
  }
  body {
    font-family: sans-serif;
    line-height: 1.5;
  }
</style>
